@charset "utf-8";

.user_list{
	margin: 50px 100px;
	padding : 10px;
	border: 2px solid #dddddd;
	border-radius: 10px;
}
.user_list table{
	width : 100%;
}
.user_list table tr{
	border-bottom : 1px solid #dddddd;
}
.user_list table tr:last-child {
	border-bottom : none;
}
.user_list table tr.head {
	background-color : #f4f4f4;
	font-size: 16px;
}
.user_list table tr td{
	padding : 10px;
	border-right : 1px solid #dddddd;
}
.user_list table tr td:last-child {
	border-right : none;
}
.bugA {
	color: #eeeeee;
	font-size: 25px;
	position: absolute;
	z-index: 1002;
}
.bugB {
	color: #eeeeee;
	position: absolute;
	z-index: 1001;
}
.bugC {
	color: #eeeeee;
	position: absolute;
	z-index: 1000;
}

