@charset "UTF-8";
.message, .message--error {
  margin: 0 0 15px 0;
  padding: 10px;
  background: #522a82;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .isHidden.message, .isHidden.message--error {
    display: none; }
.message--error {
  background: #cf4242; }

.action--contact a,
.action--send a,
.action--moveToTimeline a,
.action--sendArticle a, .action--saveSetting a,
.action--changePassword a,
.action--changeMailAddress a, .action--start a,
.action--login a,
.action--createAccount a,
.action--guideToCreateAccount a, .action--setPassword a,
.action--sendAddress a, .action--guideToCreateAccountSub a,
.action--guideToLogin a,
.action--guideToTop a,
.action--moveToLogin a, .timeline_article_staffAction_action a, .timeline_article_staffAction_action--NG a, .timeline_article_staffAction_action--OK a, .action a, .action--cancel a, .action--close a,
.action--addMapLocation a,
.action--moreComment a,
.action--sendComment a, .action--imgOpen a,
.action--imgDownload a, .action--addTag a,
.action--addTextSet a,
.action--addPhoto a,
.action--cancelUpload a,
.action--addFile a, .action--showRelatedArticle a, .action--removeFollow a, .timeline_article_commonAction_action--contact a, .timeline_article_commonAction_action--like a, .timeline_article_commonAction_action--scrap a, .timeline_article_commonAction_action a {
  display: block;
  margin: 0;
  color: #333;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.action--contact a,
.action--send a,
.action--moveToTimeline a,
.action--sendArticle a, .action--saveSetting a,
.action--changePassword a,
.action--changeMailAddress a, .action--start a,
.action--login a,
.action--createAccount a,
.action--guideToCreateAccount a, .action--setPassword a,
.action--sendAddress a, .action--guideToCreateAccountSub a,
.action--guideToLogin a,
.action--guideToTop a,
.action--moveToLogin a, .timeline_article_staffAction_action a, .timeline_article_staffAction_action--NG a, .timeline_article_staffAction_action--OK a {
  padding: 15px;
  border: 1px solid #d4d4d4;
  background: #fafafa;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .action--contact a:active,
  .action--send a:active,
  .action--moveToTimeline a:active,
  .action--sendArticle a:active, .action--saveSetting a:active,
  .action--changePassword a:active,
  .action--changeMailAddress a:active, .action--start a:active,
  .action--login a:active,
  .action--createAccount a:active,
  .action--guideToCreateAccount a:active, .action--setPassword a:active,
  .action--sendAddress a:active, .action--guideToCreateAccountSub a:active,
  .action--guideToLogin a:active,
  .action--guideToTop a:active,
  .action--moveToLogin a:active, .timeline_article_staffAction_action a:active, .timeline_article_staffAction_action--NG a:active, .timeline_article_staffAction_action--OK a:active {
    padding: 17px 15px 13px;
    background: #c8c8c8;
    -moz-box-shadow: #fff 0 0 0px;
    -webkit-box-shadow: #fff 0 0 0px;
    box-shadow: #fff 0 0 0px; }

.action--contact a,
.action--send a,
.action--moveToTimeline a,
.action--sendArticle a, .action--saveSetting a,
.action--changePassword a,
.action--changeMailAddress a, .action--start a,
.action--login a,
.action--createAccount a,
.action--guideToCreateAccount a, .action--setPassword a,
.action--sendAddress a {
  border: 1px solid #2e1748;
  background: #522a82;
  color: #fff;
  font-weight: bold;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px; }
  .action--contact a:active,
  .action--send a:active,
  .action--moveToTimeline a:active,
  .action--sendArticle a:active, .action--saveSetting a:active,
  .action--changePassword a:active,
  .action--changeMailAddress a:active, .action--start a:active,
  .action--login a:active,
  .action--createAccount a:active,
  .action--guideToCreateAccount a:active, .action--setPassword a:active,
  .action--sendAddress a:active {
    background: #2e1748; }

.action a, .action--cancel a, .action--close a,
.action--addMapLocation a,
.action--moreComment a,
.action--sendComment a, .action--imgOpen a,
.action--imgDownload a, .action--addTag a,
.action--addTextSet a,
.action--addPhoto a,
.action--cancelUpload a,
.action--addFile a {
  padding: 15px;
  border: 1px solid #cfcfcf;
  background: #f5f5f5;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .action a:active, .action--cancel a:active, .action--close a:active,
  .action--addMapLocation a:active,
  .action--moreComment a:active,
  .action--sendComment a:active, .action--imgOpen a:active,
  .action--imgDownload a:active, .action--addTag a:active,
  .action--addTextSet a:active,
  .action--addPhoto a:active,
  .action--cancelUpload a:active,
  .action--addFile a:active {
    padding: 17px 15px 13px;
    background: #c8c8c8;
    -moz-box-shadow: #fff 0 0 0px;
    -webkit-box-shadow: #fff 0 0 0px;
    box-shadow: #fff 0 0 0px; }

.action--showRelatedArticle a, .action--removeFollow a, .timeline_article_commonAction_action--contact a, .timeline_article_commonAction_action--like a, .timeline_article_commonAction_action--scrap a, .timeline_article_commonAction_action a {
  padding: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  text-align: left;
  font-size: 12px;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .action--showRelatedArticle a:hover, .action--removeFollow a:hover, .timeline_article_commonAction_action--contact a:hover, .timeline_article_commonAction_action--like a:hover, .timeline_article_commonAction_action--scrap a:hover, .timeline_article_commonAction_action a:hover {
    background: #f5f5f5; }
  .action--showRelatedArticle a:active, .action--removeFollow a:active, .timeline_article_commonAction_action--contact a:active, .timeline_article_commonAction_action--like a:active, .timeline_article_commonAction_action--scrap a:active, .timeline_article_commonAction_action a:active {
    background: #f5f5f5;
    -moz-box-shadow: #fff 0 0 0px;
    -webkit-box-shadow: #fff 0 0 0px;
    box-shadow: #fff 0 0 0px; }

.input_toggle_toggleItem label, .input_toggle_toggleItem.isChecked label {
  display: block;
  margin: 0 0 15px 0;
  padding: 15px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .input_toggle_toggleItem label:active {
    border: 1px solid #b3b3b3;
    background: #d9d9d9;
    color: gray; }

.input_toggle_toggleItem.isChecked label {
  padding: 15px;
  border: 1px solid #2e1748;
  background: #522a82;
  color: #fff;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: #fff 0 0 0px;
  -webkit-box-shadow: #fff 0 0 0px;
  box-shadow: #fff 0 0 0px; }
  .input_toggle_toggleItem.isChecked label:active {
    border: 1px solid #2e1748;
    background: #522a82;
    color: #fff; }

.input_select select, input[type="text"], input[type="password"], textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .input_select select:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: 0;
    border: 1px solid #522a82; }

.inputWrap {
  position: relative; }

.inputSet {
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */ }
  .inputSet, .inputSet--noBorder {
    position: relative;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #eee; }
  .inputSet--noBorder {
    border: 0; }
  .inputSet_title {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold; }
  .inputSet_action--removeTextSet {
    position: absolute; }
  .inputSet_action--removeTextSet {
    top: -5px;
    right: -5px; }
    .inputSet_action--removeTextSet a {
      display: block;
      padding: 5px; }
    .inputSet_action--removeTextSet a:active svg {
      fill: red; }

.input {
  margin: 0 0 15px 0;
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------- */ }
  .input.isError input, .input.isError select, .input.isError textarea {
    border: 1px solid #cf4242;
    background: #fdf9f9; }
  .input.isError .message--error {
    margin-top: 5px;
    display: block; }
  .input.isSet input, .input.isSet select, .input.isSet textarea {
    border: 1px solid #42cf7e;
    background: #f9fdfb; }
  .input .message--error {
    margin-top: 5px; }
  .input_title {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold; }
  .input_select {
    position: relative; }
    .input_select select {
      -moz-appearance: button;
      -webkit-appearance: button;
      -ms-appearance: button;
      -moz-appearance: none;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 5px -5px inset;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 5px -5px inset;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 5px -5px inset; }
    .input_select select::-ms-expand {
      display: none; }
  .input_select_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    pointer-events: none; }
    .input_select_icon svg {
      fill: #aaa; }
  .input_toggle {
    margin: 0;
    padding: 0; }
  .input_toggle_toggleItem {
    margin: 5px;
    text-align: center;
    vertical-align: top; }
    .input_toggle_toggleItem input[type=radio] {
      position: absolute;
      opacity: 0;
      -webkit-tap-highlight-color: transparent; }
    .input_toggle_toggleItem label {
      margin: 0;
      font-size: 13px; }
    .input_toggle_toggleItem.isChecked label {
      margin: 0;
      font-size: 13px; }
  .input_tag {
    position: relative; }
    .input_tag input {
      padding-left: 36px; }
  .input_tag_icon {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -8px; }
    .input_tag_icon svg {
      fill: #aaa; }
  .input_tag_action--removeTag {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -17px; }
    .input_tag_action--removeTag a {
      display: block;
      padding: 5px; }
    .input_tag_action--removeTag a:active svg {
      fill: red; }
  .input_googleMap .googlemap {
    margin: 15px 0;
    width: 100%;
    height: 320px;
    background: #eee; }
  .input_staticPhoto, .input_staticPhoto--empty, .input_staticPhoto--selected, .input_staticPhoto--set {
    position: relative;
    margin: 0 15px 15px 0;
    border: 1px solid #ccc; }
    .input_staticPhoto input, .input_staticPhoto--empty input, .input_staticPhoto--selected input, .input_staticPhoto--set input {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: hidden; }
    .ie9 .input_staticPhoto input, .ie9 .input_staticPhoto--empty input, .ie9 .input_staticPhoto--selected input, .ie9 .input_staticPhoto--set input, .ie10 .input_staticPhoto input, .ie10 .input_staticPhoto--empty input, .ie10 .input_staticPhoto--selected input, .ie10 .input_staticPhoto--set input {
      display: block;
      position: absolute;
      top: 50%;
      left: 5%;
      margin-top: -0.5em;
      width: 90%;
      height: auto;
      opacity: 1; }
  .input_staticPhoto--empty {
    cursor: pointer; }
    .ie9 .input_staticPhoto--empty, .ie10 .input_staticPhoto--empty {
      cursor: default; }
    .input_staticPhoto--empty .icon--plus {
      display: inline-block; }
    .input_staticPhoto--empty .icon--check {
      display: none; }
    .ie9 .input_staticPhoto--empty .icon--plus, .ie10 .input_staticPhoto--empty .icon--plus {
      display: none; }
  .input_staticPhoto--selected {
    background: rgba(51, 187, 187, 0.9); }
    .input_staticPhoto--selected .icon--plus {
      display: none; }
    .input_staticPhoto--selected .icon--check {
      display: inline-block; }
    .ie9 .input_staticPhoto--selected input, .ie10 .input_staticPhoto--selected input {
      display: none; }
  .input_staticPhoto--set .input_staticPhoto_icon {
    display: none; }
  .input_staticPhoto--set .input_staticPhoto_spacer {
    display: none; }
  .input_staticPhoto_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px; }
  .input_staticPhoto_icon .icon--plus svg {
    fill: #eee; }
  .input_staticPhoto_icon .icon--check svg {
    fill: #fff; }
  .input_staticPhoto_action {
    position: absolute;
    top: -19.2px;
    right: -19.2px;
    z-index: 10; }
    .input_staticPhoto_action a {
      position: relative;
      display: block;
      padding: 12px;
      overflow: hidden;
      z-index: 1000; }
    .input_staticPhoto_action a:active svg {
      fill: red; }
  .input_staticPhoto_image img {
    width: 100%;
    vertical-align: top; }
  .input_staticPhoto_spacer img {
    width: 100%;
    vertical-align: top; }
  .input_photo, .input_photo--empty, .input_photo--uploading, .input_photo--set {
    position: relative;
    margin: 0 7.5px 15px 7.5px;
    border: 1px solid #ccc;
    transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in; }
    .input_photo input, .input_photo--empty input, .input_photo--uploading input, .input_photo--set input {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: hidden; }
  .input_photo--empty {
    cursor: pointer; }
    .input_photo--empty:hover {
      background: #f8f8f8; }
    .input_photo--empty .input_photo_progress {
      display: none; }
  .input_photo--uploading {
    background: url(/img/loader.gif) no-repeat center center #fff; }
    .input_photo--uploading .input_photo_icon {
      display: none; }
    .input_photo--uploading .input_photo_label {
      display: none; }
    .input_photo--uploading .input_photo_action {
      display: none; }
    .input_photo--uploading .input_photo_progress {
      display: block; }
  .input_photo--set .input_photo_icon {
    display: none; }
  .input_photo--set .input_photo_label {
    display: none; }
  .input_photo--set .input_photo_progress {
    display: none; }
  .input_photo_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px; }
  .input_photo_icon .icon--plus {
    margin-top: -12px; }
    .input_photo_icon .icon--plus svg {
      fill: #ddd; }
  .input_photo_label {
    position: absolute;
    bottom: 42px;
    width: 100%;
    text-align: center; }
    .input_photo_label .label--empty {
      color: #ccc; }
  .input_photo_action {
    position: absolute;
    top: -19.2px;
    right: -19.2px;
    z-index: 10; }
    .input_photo_action a {
      position: relative;
      display: block;
      padding: 12px;
      overflow: hidden;
      z-index: 1000; }
    .input_photo_action a:active svg {
      fill: red; }
  .input_photo_image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
    .input_photo_image img {
      width: 100%;
      vertical-align: top; }
  .input_photo_spacer img {
    width: 100%;
    vertical-align: top; }
  .input_photo_progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .input_photo_progress canvas {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 5px;
      background: #888; }
  .input_file, .input_file--empty, .input_file--uploading, .input_file--set {
    position: relative;
    margin: 0 0 15px 0;
    padding: 15px 0 15px 49px;
    border: 1px solid #ccc;
    transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in; }
    .input_file input, .input_file--empty input, .input_file--uploading input, .input_file--set input {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: hidden; }
  .input_file--empty {
    border-style: dotted;
    cursor: pointer; }
    .input_file--empty:hover {
      background: #f8f8f8; }
    .input_file--empty .icon--fileAdd {
      display: inline-block; }
    .input_file--empty .icon--file {
      display: none; }
    .input_file--empty .label_fileName {
      display: none; }
    .input_file--empty .label_fileSize {
      display: none; }
    .input_file--empty .input_file_progress {
      display: none; }
  .input_file--uploading {
    padding-bottom: 65px;
    background: url(/img/loader.gif) no-repeat 19px 19px #fff; }
    .input_file--uploading .icon--fileAdd {
      display: none; }
    .input_file--uploading .icon--file {
      display: none; }
    .input_file--uploading .label--empty {
      display: none; }
    .input_file--uploading .input_file_action {
      display: none; }
  .input_file--set .icon--fileAdd {
    display: none; }
  .input_file--set .icon--file {
    display: inline-block; }
  .input_file--set .label--empty {
    display: none; }
  .input_file--set .input_file_progress {
    display: none; }
  .input_file_icon {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px; }
  .input_file_icon .icon--file svg {
    fill: #522a82; }
  .input_file_label .label--empty {
    color: #ccc; }
  .input_file_label .label_fileName {
    font-weight: bold; }
  .input_file_label .label_fileSize {
    color: #888; }
  .input_file_action {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
    .input_file_action a {
      position: relative;
      display: block;
      padding: 12px;
      overflow: hidden;
      z-index: 1000; }
    .input_file_action a:active svg {
      fill: red; }
  .input_file_progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .input_file_progress canvas {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 5px;
      background: #888; }
  .input_action, .input_action--photo {
    position: relative; }
  .input_action--photo {
    margin: 0 7.5px 15px 7.5px; }
    .input_action--photo .action--addPhoto {
      position: absolute;
      width: 100%;
      height: 100%; }
      .input_action--photo .action--addPhoto a {
        width: 100%;
        height: 100%;
        padding: 0; }
      .input_action--photo .action--addPhoto a:active {
        padding: 0;
        line-height: 1; }
      .input_action--photo .action--addPhoto a .icon--plus {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px; }
  .input_action_spacer img {
    width: 100%;
    vertical-align: top; }

label {
  display: block;
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  label input {
    margin: 0 5px 0 0;
    vertical-align: middle; }
  label span {
    vertical-align: middle; }

/* ---------------------------------------------------------------------------- */
input[type="text"], input[type="password"] {
  line-height: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px -10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px -10px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px -10px inset; }

/* ---------------------------------------------------------------------------- */
textarea {
  line-height: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px -10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px -10px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px -10px inset; }

.popup, .popup--articleContact, .popup--userProfile {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  max-width: 560px;
  background: #fff; }
.popup--userProfile .popup_header_user {
  margin: -15px -15px 0 -15px;
  padding: 15px 0 15px 63px;
  height: 40px;
  background: #eee; }
.popup--userProfile .popup_header_user_portrait {
  position: absolute;
  left: 15px; }
.popup--userProfile .popup_header_user_name {
  margin: 0.2em 0 0.2em 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold; }
.popup--userProfile .popup_header_user_phone {
  font-size: 13px;
  line-height: 13px; }
.popup--userProfile .popup_header_meta {
  margin: 0 -15px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
.popup--userProfile .popup_header_meta_key {
  margin: 0 0 5px 0;
  text-align: center; }
.popup--userProfile .popup_header_meta_value {
  color: #522a82;
  font-size: 16px;
  font-weight: bold;
  text-align: center; }
.popup_header {
  margin: 0 0 15px 0; }
.popup_content {
  margin: 0 0 15px 0;
  word-break: break-all; }
.popup_commonAction_action, .popup_commonAction_action--contact {
  margin: 0 0 10px 0; }
  .popup_commonAction_action:last-child, .popup_commonAction_action--contact:last-child {
    margin: 0; }

.xSmall.action a, .xSmall.action--cancel a, .xSmall.action--close a,
.xSmall.action--addMapLocation a,
.xSmall.action--moreComment a,
.xSmall.action--sendComment a, .xSmall.action--imgOpen a,
.xSmall.action--imgDownload a, .xSmall.action--addTag a,
.xSmall.action--addTextSet a,
.xSmall.action--addPhoto a,
.xSmall.action--cancelUpload a,
.xSmall.action--addFile a {
  padding: 5px; }
.small.action a, .small.action--cancel a, .small.action--close a,
.small.action--addMapLocation a,
.small.action--moreComment a,
.small.action--sendComment a, .small.action--imgOpen a,
.small.action--imgDownload a, .small.action--addTag a,
.small.action--addTextSet a,
.small.action--addPhoto a,
.small.action--cancelUpload a,
.small.action--addFile a {
  padding: 10px; }
.isDisabled.action--contact a,
.isDisabled.action--send a,
.isDisabled.action--moveToTimeline a,
.isDisabled.action--sendArticle a, .isDisabled.action--saveSetting a,
.isDisabled.action--changePassword a,
.isDisabled.action--changeMailAddress a, .isDisabled.action--start a,
.isDisabled.action--login a,
.isDisabled.action--createAccount a,
.isDisabled.action--guideToCreateAccount a, .isDisabled.action--setPassword a,
.isDisabled.action--sendAddress a {
  border: 1px solid #999;
  background: #aaa;
  color: #ccc;
  cursor: default; }
  .isDisabled.action--contact a:active,
  .isDisabled.action--send a:active,
  .isDisabled.action--moveToTimeline a:active,
  .isDisabled.action--sendArticle a:active, .isDisabled.action--saveSetting a:active,
  .isDisabled.action--changePassword a:active,
  .isDisabled.action--changeMailAddress a:active, .isDisabled.action--start a:active,
  .isDisabled.action--login a:active,
  .isDisabled.action--createAccount a:active,
  .isDisabled.action--guideToCreateAccount a:active, .isDisabled.action--setPassword a:active,
  .isDisabled.action--sendAddress a:active {
    padding: 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px; }
.action--sendArticle {
  margin: 0 0 15px 0; }
.action--imgOpen a,
.action--imgDownload a {
  border: 1px solid #c7c7c7; }
.action--showRelatedArticle a {
  padding: 15px 0px;
  text-align: center; }
.action--removeFollow a {
  padding: 15px 0px;
  text-align: center; }
.action--start {
  margin: 0 0 15px 0; }
.action--login {
  margin: 0 0 15px 0; }
.action--createAccount {
  margin: 0 0 15px 0; }
.action--guideToCreateAccount {
  margin: 0 0 15px 0; }
.action--guideToCreateAccountSub {
  margin: 0 0 15px 0; }
.action--guideToLogin {
  margin: 0 0 15px 0; }
.action--guideToTop {
  margin: 0 0 15px 0; }
.action--moveToLogin {
  margin: 0 0 15px 0; }
.action--setPassword {
  margin: 0 0 15px 0; }
.action--sendAddress {
  margin: 0 0 15px 0; }

.timeline_article, .timeline_article--estate, .timeline_article--news,
.timeline_article--mercury,
.timeline_article--report, .timeline_article--market, .timeline_article--ranking, .timeline_article--gogogo {
  margin: 0 0 20px;
  padding: 30px;
  border: 1px solid #ccc;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.timeline_article_content_staffComment_content_loader, .timeline_article_content_staffComment_form_loader, .timeline_article_commonAction_loader, .timeline_article_staffAction_loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee url(/img/loader_process.gif) center 35% no-repeat;
  opacity: 0;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transition-property: opacity; }
  .timeline_article_content_staffComment_content_loader:after, .timeline_article_content_staffComment_form_loader:after, .timeline_article_commonAction_loader:after, .timeline_article_staffAction_loader:after {
    content: "";
    position: absolute;
    display: block;
    top: 65%;
    margin: -10px 0 0 0;
    width: 100%;
    color: #522a82;
    font-size: 20px;
    line-height: 20px;
    text-align: center; }
  .isActive.timeline_article_content_staffComment_content_loader, .isActive.timeline_article_content_staffComment_form_loader, .isActive.timeline_article_commonAction_loader, .isActive.timeline_article_staffAction_loader {
    opacity: 0.9; }

.timeline {
  list-style: none; }

.timeline_article, .timeline_article--estate, .timeline_article--news,
.timeline_article--mercury,
.timeline_article--report, .timeline_article--market, .timeline_article--ranking, .timeline_article--gogogo {
  margin-bottom: 54px; }
  .timeline_article:last-child, .timeline_article--estate:last-child, .timeline_article--news:last-child,
  .timeline_article--mercury:last-child,
  .timeline_article--report:last-child, .timeline_article--market:last-child, .timeline_article--ranking:last-child, .timeline_article--gogogo:last-child {
    margin-bottom: 0; }
.timeline_article--news,
.timeline_article--mercury,
.timeline_article--report {
  /* META - time */ }
  .timeline_article--news .timeline_article_content_meta,
  .timeline_article--mercury .timeline_article_content_meta,
  .timeline_article--report .timeline_article_content_meta {
    padding: 15px 0 15px; }
  .timeline_article--news .timeline_article_content_meta_postTime,
  .timeline_article--mercury .timeline_article_content_meta_postTime,
  .timeline_article--report .timeline_article_content_meta_postTime {
    position: static;
    top: 0;
    text-align: left; }
  .timeline_article--news .timeline_article_content_meta_postTime_date,
  .timeline_article--mercury .timeline_article_content_meta_postTime_date,
  .timeline_article--report .timeline_article_content_meta_postTime_date {
    display: inline-block;
    font-size: 14px; }
  .timeline_article--news .timeline_article_content_meta_postTime_hour,
  .timeline_article--mercury .timeline_article_content_meta_postTime_hour,
  .timeline_article--report .timeline_article_content_meta_postTime_hour {
    display: inline-block;
    font-size: 14px; }

.timeline_article_header {
  position: relative;
  margin: -30px -30px 0 -30px;
  padding: 0 15px;
  height: 35px;
  background: #522a82;
  color: #fff;
  line-height: 35px; }
.timeline_article_header_category, .timeline_article_header_category--report {
  font-size: 15px;
  font-weight: bold; }
.timeline_article_header_category--report {
  text-align: center; }
  .timeline_article_header_category--report img {
    margin: 8px 0 0 0;
    height: 17px; }
.timeline_article_header_postStatus, .timeline_article_header_postStatus--check, .timeline_article_header_postStatus--ng, .timeline_article_header_postStatus--ok, .timeline_article_header_postStatus--new {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 100px;
  padding: 0;
  height: 19px;
  background: #eee;
  color: #000;
  line-height: 19px;
  font-weight: bold;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
.timeline_article_header_postStatus--check {
  background: #ffc340;
  color: #522a82; }
.timeline_article_header_postStatus--ng {
  background: #1e1e1e;
  color: #fff; }
.timeline_article_header_postStatus--ok {
  background: #ed4437;
  color: #fff; }
.timeline_article_header_postStatus--new {
  background: #d7431c;
  color: #fff; }

.timeline_article_content, .timeline_article_content_meta, .timeline_article_content_tag {
  position: relative; }

.timeline_article_content_meta {
  padding: 15px 0; }
.timeline_article_content_meta_author {
  position: relative;
  padding: 0 0 0 48px;
  height: 42px; }
  .timeline_article_content_meta_author a {
    display: inline-block;
    text-decoration: none;
    color: #000; }
.timeline_article_content_meta_author_portrait {
  position: absolute;
  left: 0; }
.timeline_article_content_meta_author_name {
  max-width: 12em;
  height: 40px;
  font-size: 19px;
  font-weight: bold;
  line-height: 40px;
  text-overflow: ellipsis;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden; }
.timeline_article_content_meta_postTime {
  position: absolute;
  top: 15px;
  right: 0;
  text-align: right; }
.timeline_article_content_meta_postTime_hour {
  font-size: 15px; }

.timeline_article_content_tag {
  margin: 0 -30px 20px -30px;
  padding: 0px 30px;
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.timeline_article_content_tag_tagList_tagItem {
  position: relative;
  display: inline-block; }
  .timeline_article_content_tag_tagList_tagItem a {
    display: block;
    margin: 10px 10px 10px 0;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    cursor: default;
    word-break: break-all; }
  .timeline_article_content_tag_tagList_tagItem a span {
    display: inline; }
  .timeline_article_content_tag_tagList_tagItem .icon--tag {
    margin: 0 2px 0 0; }

.timeline_article_content_text_title {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: bold;
  word-break: break-all; }
.timeline_article_content_text_textList, .timeline_article_content_text_short_textList {
  margin: 0 0 20px 0;
  font-size: 13px;
  line-height: 1.5;
  list-style: none; }
.timeline_article_content_text_textList_textItem, .timeline_article_content_text_short_textList_textItem {
  margin: 0 0 1em 0;
  word-break: break-all; }
.timeline_article_content_text_textList_textItem a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.timeline_article_content_text_short {
  margin: 0 0 0 0;
  font-size: 13px;
  line-height: 1.5;
  list-style: none; }
  .timeline_article_content_text_short_textList_textItem_action--readMore a {
    margin-left: -8px;
    padding: 10px 10px;
    color: blue;
    text-decoration: none; }
  .timeline_article_content_text_short_textList_textItem_action--readMore a:hover {
    text-decoration: underline; }

.timeline_article_content_thumbnail {
  margin: 0 0 15px 0; }
.timeline_article_content_thumbnail_image a {
  display: block; }
.timeline_article_content_thumbnail_image a img {
  width: 100%;
  vertical-align: top; }

.timeline_article_content_photo {
  margin: 0 0 15px 0; }
.timeline_article_content_photo_photoList {
  list-style: none; }
  .timeline_article_content_photo_photoList .layoutGrid_col--12 {
    padding: 0 1px 1px 0; }
  .timeline_article_content_photo_photoList .layoutGrid_col--4 {
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px; }
  .timeline_article_content_photo_photoList .layoutGrid_col--6 {
    padding-bottom: 1px; }
  .timeline_article_content_photo_photoList .layoutGrid_col--6:nth-child(odd) {
    padding-right: 1px; }
  .timeline_article_content_photo_photoList .layoutGrid_col--6:nth-child(even) {
    padding-left: 1px; }
  .timeline_article_content_photo_photoList .layoutGrid_col--6:last-child {
    padding-left: 1px;
    padding-right: 0; }
.timeline_article_content_photo_photoList_photoItem a {
  display: block; }
.timeline_article_content_photo_photoList_photoItem a:active {
  opacity: 0.8; }
.timeline_article_content_photo_photoList_photoItem a img {
  width: 100%;
  vertical-align: top; }
.timeline_article_content_photo_photoList_action a {
  position: relative;
  display: block;
  background: #522a82;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none; }
  .timeline_article_content_photo_photoList_action a:hover {
    background: #63339d; }
  .timeline_article_content_photo_photoList_action a:active {
    background: #5e3095; }
.timeline_article_content_photo_photoList_action .action_label {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -0.5em; }
.timeline_article_content_photo_photoList_action .action_bg img {
  width: 100%;
  vertical-align: top; }

.timeline_article_content_estate {
  margin: 0 0 15px 0;
  border: 1px solid #ccc; }

.timeline_article_content_staffComment {
  position: relative;
  margin: 0 -30px -15px;
  padding: 15px 15px 0;
  border-top: 1px solid #eee; }
.timeline_article_content_staffComment_title {
  margin: 0 0 0;
  text-align: left;
  font-weight: bold; }
.timeline_article_content_staffComment_content {
  position: relative; }
.timeline_article_content_staffComment_content_loader {
  border: 1px solid #eee;
  background-position: center 80px;
  background-color: rgba(240, 240, 240, 0.7);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0; }
  .timeline_article_content_staffComment_content_loader:after {
    top: 140px;
    content: "読み込み中"; }
.timeline_article_content_staffComment_action {
  margin: 0 0 10px 0; }
  .timeline_article_content_staffComment_action .action--moreComment a {
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    color: #aaa;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .timeline_article_content_staffComment_action .action--moreComment a:hover {
    background: #f5f5f5;
    color: #333; }
  .timeline_article_content_staffComment_action .action--moreComment a:active {
    padding: 5px;
    background: #eee; }
.timeline_article_content_staffComment_commentList {
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ccc; }
.timeline_article_content_staffComment_commentList_item {
  position: relative;
  padding: 5px 5px 5px 48px;
  border: 1px solid #ddd;
  border-bottom: 0;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  .timeline_article_content_staffComment_commentList_item.isActive {
    background: #eee7f7; }
.timeline_article_content_staffComment_commentList_item_icon {
  position: absolute;
  top: 7px;
  left: 10px; }
.timeline_article_content_staffComment_commentList_item_name {
  display: inline-block;
  margin: 0 0.5em 0.2em 0;
  font-weight: bold; }
.timeline_article_content_staffComment_commentList_item_date {
  display: inline-block;
  color: #999; }
.timeline_article_content_staffComment_commentList_item_text {
  font-size: 12px;
  word-break: break-all; }
.timeline_article_content_staffComment_form {
  position: relative;
  padding: 0 70px 0 0;
  border-top: 0; }
  .timeline_article_content_staffComment_form textarea {
    min-height: 60px;
    background: #fefefe;
    resize: vertical; }
  .timeline_article_content_staffComment_form .action--sendComment {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px; }
    .timeline_article_content_staffComment_form .action--sendComment a {
      height: 60px;
      line-height: 30px; }
.timeline_article_content_staffComment_form_loader {
  border: 1px solid #eee;
  background-position: center center;
  background-color: rgba(240, 240, 240, 0.7);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0; }

.timeline_article_commonAction {
  position: relative;
  margin: 30px -30px -30px -30px;
  padding: 10px 15px;
  border-top: 1px solid #eee;
  text-align: right; }
  .timeline_article_commonAction:after {
    content: " ";
    display: block;
    clear: both; }
  .user .timeline_article_commonAction {
    padding: 10px; }
.timeline_article_commonAction_loader {
  background: #eee url(/img/loader_circle.gif) center center no-repeat;
  background-size: 32px; }
  .timeline_article_commonAction_loader.isActive {
    opacity: 0.9; }
.timeline_article_commonAction_action--contact, .timeline_article_commonAction_action--like, .timeline_article_commonAction_action--scrap, .timeline_article_commonAction_action {
  display: inline-block; }
  .timeline_article_commonAction_action--contact a, .timeline_article_commonAction_action--like a, .timeline_article_commonAction_action--scrap a, .timeline_article_commonAction_action a {
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    color: #888; }
.timeline_article_commonAction_action--contact a svg {
  fill: #888; }
.timeline_article_commonAction_action--like, .timeline_article_commonAction_action--scrap {
  float: left;
  margin: 0 10px 0 0; }
  .timeline_article_commonAction_action--like a.isActive, .timeline_article_commonAction_action--scrap a.isActive {
    background: #fff;
    color: #522a82;
    font-weight: bold; }
    .timeline_article_commonAction_action--like a.isActive svg, .timeline_article_commonAction_action--scrap a.isActive svg {
      fill: #522a82;
      opacity: 0.75; }
.timeline_article_commonAction_action--like a.isActive .action--like_count {
  color: #fff;
  background: #522a82; }
.timeline_article_commonAction_action--like .icon--like {
  margin-right: 4px; }
.timeline_article_commonAction_action--like .icon--like svg {
  fill: #ccc; }
.timeline_article_commonAction_action--like .action--like_count {
  display: inline-block;
  margin: 0 0 0 7px;
  padding: 2px 4px;
  min-width: 10px;
  height: 11px;
  background: #777;
  color: #fff;
  line-height: 11px;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.timeline_article_commonAction_action--scrap .icon--scrap {
  margin-right: 4px; }
.timeline_article_commonAction_action--scrap .icon--scrap svg {
  fill: #ccc; }

.timeline_article_staffAction, .timeline_article_staffAction--judged {
  position: relative;
  margin: 30px -30px -30px -30px;
  padding: 15px;
  border-top: 1px solid #ccc;
  min-height: 57px;
  background: #e5e5e5; }
.timeline_article_staffAction {
  min-height: 14px; }
  .timeline_article_staffAction.isOpened {
    min-height: 102px; }
.timeline_article_staffAction--judged {
  min-height: 14px; }
  .timeline_article_staffAction--judged.isOpened {
    min-height: 102px; }
.timeline_article_staffAction_loader:after {
  content: "ステータスを変更しています"; }
.timeline_article_staffAction_toggle, .timeline_article_staffAction_toggle--close, .timeline_article_staffAction_toggle--open {
  margin: -15px; }
  .timeline_article_staffAction_toggle a, .timeline_article_staffAction_toggle--close a, .timeline_article_staffAction_toggle--open a {
    display: block;
    margin: 0;
    padding: 0 15px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    color: #000; }
    .timeline_article_staffAction_toggle a:hover, .timeline_article_staffAction_toggle--close a:hover, .timeline_article_staffAction_toggle--open a:hover {
      background: #eee; }
.timeline_article_staffAction_toggle--open {
  margin: -15px -15px 15px -15px; }
  .timeline_article_staffAction_toggle--open a {
    border-bottom: 1px solid #ccc;
    background: #ccc;
    color: #555; }
  .timeline_article_staffAction_toggle--open .timeline_article_staffAction_toggle_icon {
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
.timeline_article_staffAction_toggle_icon {
  position: absolute;
  right: 15px; }
  .timeline_article_staffAction_toggle_icon svg {
    fill: #aaa; }
.timeline_article_staffAction_toggle_status--check, .timeline_article_staffAction_toggle_status--ok, .timeline_article_staffAction_toggle_status--ng {
  display: inline-block;
  margin: 0 15px;
  padding: 5px 15px;
  line-height: 1;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.timeline_article_staffAction_toggle_status--check {
  background: #ffc340;
  color: #000; }
.timeline_article_staffAction_toggle_status--ok {
  background: #ed4437;
  color: #fff; }
.timeline_article_staffAction_toggle_status--ng {
  background: #1e1e1e;
  color: #fff; }
.timeline_article_staffAction_action, .timeline_article_staffAction_action--NG, .timeline_article_staffAction_action--OK {
  position: absolute; }
  .timeline_article_staffAction_action a, .timeline_article_staffAction_action--NG a, .timeline_article_staffAction_action--OK a {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
.timeline_article_staffAction_action--NG {
  left: 15px;
  padding: 0 14px 0 0; }
  .timeline_article_staffAction_action--NG a {
    padding: 15px 30px;
    border: 1px solid #0d0d0d;
    background: #333; }
  .timeline_article_staffAction_action--NG a:active {
    padding: 15px 30px;
    border: 1px solid black;
    background: #1a1a1a; }
.timeline_article_staffAction_action--OK {
  right: 15px; }
  .timeline_article_staffAction_action--OK a {
    padding: 15px 90px;
    border: 1px solid #c61f12;
    background: #ed4437; }
  .timeline_article_staffAction_action--OK a:active {
    padding: 15px 90px;
    border: 1px solid #80140b;
    background: #dd2214; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #eee;
  font-size: 12px;
  line-height: 40px;
  text-align: center; }

.mfp-arrow {
  position: absolute;
  opacity: 0.55;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 26px;
  margin-left: 30px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 27px;
  border-bottom-width: 27px;
  top: 2px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 29px;
  border-bottom-width: 29px; }

/* left arrow */
.mfp-arrow-left {
  left: 40px; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 24px solid white;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 30px;
  border-right: 26px solid rgba(0, 0, 0, 0.2); }

/* right arrow */
.mfp-arrow-right {
  right: 40px; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 24px solid white;
  margin-left: 31px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 26px solid rgba(0, 0, 0, 0.2); }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 80px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-bottom-bar {
  margin-top: -80px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  width: 100%;
  background: #eee;
  text-align: right;
  cursor: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-title {
  float: left;
  width: 45%; }

.mfp-title-inner {
  display: table-cell;
  padding: 0 0 0 5px;
  height: 38px;
  text-align: left;
  line-height: 18px;
  color: #333;
  word-wrap: break-word;
  vertical-align: middle; }

.mfp-image-holder .mfp-content {
  max-width: 100%;
  min-width: 640px; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */ }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*
  modified
*/
.action--imgOpen,
.action--imgDownload {
  margin-left: 10px;
  display: inline-block; }

.action--imgOpen a,
.action--imgDownload a {
  display: inline-block;
  line-height: 16px; }

@media all and (max-width: 480px) {
  .mfp-arrow-left {
    left: 0; }

  .mfp-arrow-right {
    right: 0; } }
