.container--noBackground, .container {
  margin: 0 0 20px;
  padding: 30px;
  border: 1px solid #ccc;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container--noBackground {
  margin: 0;
  padding: 30px;
  border: 1px solid #ccc;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container--noBackground, .container {
  min-height: 250px; }
.container_header {
  margin: -15px 0 0; }
.container_header_logo {
  margin: 45px 0 30px;
  text-align: center; }
.container_content {
  margin: 0 0 15px 0; }

.action--contact a,
.action--send a,
.action--moveToTimeline a,
.action--sendArticle a, .action--saveSetting a,
.action--changePassword a,
.action--changeMailAddress a, .action--start a,
.action--login a,
.action--createAccount a,
.action--guideToCreateAccount a, .action--setPassword a,
.action--sendAddress a, .action--guideToCreateAccountSub a,
.action--guideToLogin a,
.action--guideToTop a,
.action--moveToLogin a, .action a, .action--cancel a, .action--close a,
.action--addMapLocation a,
.action--moreComment a,
.action--sendComment a, .action--imgOpen a,
.action--imgDownload a, .action--addTag a,
.action--addTextSet a,
.action--addPhoto a,
.action--cancelUpload a,
.action--addFile a, .action--showRelatedArticle a, .action--removeFollow a {
  display: block;
  margin: 0;
  color: #333;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.action--contact a,
.action--send a,
.action--moveToTimeline a,
.action--sendArticle a, .action--saveSetting a,
.action--changePassword a,
.action--changeMailAddress a, .action--start a,
.action--login a,
.action--createAccount a,
.action--guideToCreateAccount a, .action--setPassword a,
.action--sendAddress a, .action--guideToCreateAccountSub a,
.action--guideToLogin a,
.action--guideToTop a,
.action--moveToLogin a {
  padding: 15px;
  border: 1px solid #d4d4d4;
  background: #fafafa;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .action--contact a:active,
  .action--send a:active,
  .action--moveToTimeline a:active,
  .action--sendArticle a:active, .action--saveSetting a:active,
  .action--changePassword a:active,
  .action--changeMailAddress a:active, .action--start a:active,
  .action--login a:active,
  .action--createAccount a:active,
  .action--guideToCreateAccount a:active, .action--setPassword a:active,
  .action--sendAddress a:active, .action--guideToCreateAccountSub a:active,
  .action--guideToLogin a:active,
  .action--guideToTop a:active,
  .action--moveToLogin a:active {
    padding: 17px 15px 13px;
    background: #c8c8c8;
    -moz-box-shadow: #fff 0 0 0px;
    -webkit-box-shadow: #fff 0 0 0px;
    box-shadow: #fff 0 0 0px; }

.action--contact a,
.action--send a,
.action--moveToTimeline a,
.action--sendArticle a, .action--saveSetting a,
.action--changePassword a,
.action--changeMailAddress a, .action--start a,
.action--login a,
.action--createAccount a,
.action--guideToCreateAccount a, .action--setPassword a,
.action--sendAddress a {
  border: 1px solid #2e1748;
  background: #522a82;
  color: #fff;
  font-weight: bold;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px; }
  .action--contact a:active,
  .action--send a:active,
  .action--moveToTimeline a:active,
  .action--sendArticle a:active, .action--saveSetting a:active,
  .action--changePassword a:active,
  .action--changeMailAddress a:active, .action--start a:active,
  .action--login a:active,
  .action--createAccount a:active,
  .action--guideToCreateAccount a:active, .action--setPassword a:active,
  .action--sendAddress a:active {
    background: #2e1748; }

.action a, .action--cancel a, .action--close a,
.action--addMapLocation a,
.action--moreComment a,
.action--sendComment a, .action--imgOpen a,
.action--imgDownload a, .action--addTag a,
.action--addTextSet a,
.action--addPhoto a,
.action--cancelUpload a,
.action--addFile a {
  padding: 15px;
  border: 1px solid #cfcfcf;
  background: #f5f5f5;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .action a:active, .action--cancel a:active, .action--close a:active,
  .action--addMapLocation a:active,
  .action--moreComment a:active,
  .action--sendComment a:active, .action--imgOpen a:active,
  .action--imgDownload a:active, .action--addTag a:active,
  .action--addTextSet a:active,
  .action--addPhoto a:active,
  .action--cancelUpload a:active,
  .action--addFile a:active {
    padding: 17px 15px 13px;
    background: #c8c8c8;
    -moz-box-shadow: #fff 0 0 0px;
    -webkit-box-shadow: #fff 0 0 0px;
    box-shadow: #fff 0 0 0px; }

.action--showRelatedArticle a, .action--removeFollow a {
  padding: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  text-align: left;
  font-size: 12px;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  transition-property: margin, padding, width, height, background-color, color, opacity, line-height;
  transition-duration: 0.1s;
  transition-timing-function: ease-in; }
  .action--showRelatedArticle a:hover, .action--removeFollow a:hover {
    background: #f5f5f5; }
  .action--showRelatedArticle a:active, .action--removeFollow a:active {
    background: #f5f5f5;
    -moz-box-shadow: #fff 0 0 0px;
    -webkit-box-shadow: #fff 0 0 0px;
    box-shadow: #fff 0 0 0px; }

.xSmall.action a, .xSmall.action--cancel a, .xSmall.action--close a,
.xSmall.action--addMapLocation a,
.xSmall.action--moreComment a,
.xSmall.action--sendComment a, .xSmall.action--imgOpen a,
.xSmall.action--imgDownload a, .xSmall.action--addTag a,
.xSmall.action--addTextSet a,
.xSmall.action--addPhoto a,
.xSmall.action--cancelUpload a,
.xSmall.action--addFile a {
  padding: 5px; }
.small.action a, .small.action--cancel a, .small.action--close a,
.small.action--addMapLocation a,
.small.action--moreComment a,
.small.action--sendComment a, .small.action--imgOpen a,
.small.action--imgDownload a, .small.action--addTag a,
.small.action--addTextSet a,
.small.action--addPhoto a,
.small.action--cancelUpload a,
.small.action--addFile a {
  padding: 10px; }
.isDisabled.action--contact a,
.isDisabled.action--send a,
.isDisabled.action--moveToTimeline a,
.isDisabled.action--sendArticle a, .isDisabled.action--saveSetting a,
.isDisabled.action--changePassword a,
.isDisabled.action--changeMailAddress a, .isDisabled.action--start a,
.isDisabled.action--login a,
.isDisabled.action--createAccount a,
.isDisabled.action--guideToCreateAccount a, .isDisabled.action--setPassword a,
.isDisabled.action--sendAddress a {
  border: 1px solid #999;
  background: #aaa;
  color: #ccc;
  cursor: default; }
  .isDisabled.action--contact a:active,
  .isDisabled.action--send a:active,
  .isDisabled.action--moveToTimeline a:active,
  .isDisabled.action--sendArticle a:active, .isDisabled.action--saveSetting a:active,
  .isDisabled.action--changePassword a:active,
  .isDisabled.action--changeMailAddress a:active, .isDisabled.action--start a:active,
  .isDisabled.action--login a:active,
  .isDisabled.action--createAccount a:active,
  .isDisabled.action--guideToCreateAccount a:active, .isDisabled.action--setPassword a:active,
  .isDisabled.action--sendAddress a:active {
    padding: 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px; }
.action--sendArticle {
  margin: 0 0 15px 0; }
.action--imgOpen a,
.action--imgDownload a {
  border: 1px solid #c7c7c7; }
.action--showRelatedArticle a {
  padding: 15px 0px;
  text-align: center; }
.action--removeFollow a {
  padding: 15px 0px;
  text-align: center; }
.action--start {
  margin: 0 0 15px 0; }
.action--login {
  margin: 0 0 15px 0; }
.action--createAccount {
  margin: 0 0 15px 0; }
.action--guideToCreateAccount {
  margin: 0 0 15px 0; }
.action--guideToCreateAccountSub {
  margin: 0 0 15px 0; }
.action--guideToLogin {
  margin: 0 0 15px 0; }
.action--guideToTop {
  margin: 0 0 15px 0; }
.action--moveToLogin {
  margin: 0 0 15px 0; }
.action--setPassword {
  margin: 0 0 15px 0; }
.action--sendAddress {
  margin: 0 0 15px 0; }

.message, .message--error {
  margin: 0 0 15px 0;
  padding: 10px;
  background: #522a82;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .isHidden.message, .isHidden.message--error {
    display: none; }
.message--error {
  background: #cf4242; }

.well, .well--tips {
  padding: 10px;
  background: #eee;
  line-height: 1.5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
.well--tips {
  background: #f1ead8; }
